@CHARSET "UTF-8";
body{
	text-align: center;
	background-color: darkgrey;
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/52/1c/c9/521cc908403dce3bcfefde4c22468a84.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h2{
	text-align:center;
}
h2 span{
	background: darkgrey;
	background-size: contain;
}
span{
	background: darkgrey;
}

#map{
	width: 90%;
	margin: 0 auto;
}
#elementtable{
	background: grey;
	position: fixed; 
 	top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px 25px 20px;
    
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 25%;
    overflow: auto; 
    background-color: transparent;
    position: fixed;  
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #555;
    color: white;
}
#navbar li a{
	color: white;
	font-weight: bold;
	font-size: 125%;
}
.active {
    background-color: #4CAF50;
    color: white;
}